
<!DOCTYPE html>
  <html>
    <head>
      <title>About</title>
    </head>
    <body>
      <%= link_to image_tag('home_icon.png'), root_path %>
      <h1> Hello! Welcome to the About Page of this Alpha-Blog application! :D</h1>
      <p>In this Blog application you will be able to do a lot of things... just wait util it's finished!</p>

    </body>
  </html>