
<div class="jumbotron" id="jumbotron_home_page">
  <h1>ALPHA BLOG - APETIZER</h1>
      <%= link_to("Sign up!", signup_path, align: "center", class: "btn btn-success btn-lg") if !logged_in? %>
      <%= link_to("Log In", login_path, align: "center", class: "btn btn-danger btn-lg") if !logged_in? %>
</div>