
<!DOCTYPE html>
  <html>
    <head>
      <title>Home</title>
    </head>
    <body>
      <p>
        <%=link_to "Alpha Blog", articles_path %>  | <%= link_to image_tag('about_icon.png'), about_path %>
      </p>
      <p>
        <h1> Hello! Welcome to the Home Page of this Alpha-Blog application! :D</h1>
      </p>
      <p>In this Blog application you will be able to do a lot of things... just wait util it's finished!</p>
    </body>
  </html>