
$navbar-default-bg: #313131;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 16;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #fff;
    text-decoration: none;
}

#jumbotron_home_page {
    //background-color: #a8a8a8;
    color: #474747;
    background-image: asset-url('background.jpg');
    background-size: cover;
}

#jumbotron_home_page h1 {
    text-align: left;
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

.btn-default {
    color: #ffffff;
    background-color: #474747;
    border: 2px solid #1b1b1b;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #636363;
    border: 2px solid #141414d5;
}

.btn-danger {
    color: #d4d4d4;
    background-color: #d62b1f62;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #c73a3a;
    border: 2px solid #a30b00;
}

.btn-success {
    color: #ffffff;
    background-color: #339b1962;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #39801ad7;
    border: 2px solid #116600;
}

footer {
    margin-top: 50px;
    padding-top: 5px;
    border-top: 1px solid #313131;
    color: #777;
}

footer small{
    float: left;
}


footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}


.article_actions {
    border-top: 1px solid #b4b4b4;
    padding-top: 45px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #242424;
    margin-bottom: 23px;
}

.article-body{
    border-top: 1px solid #b4b4b4 ;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.article-meta-details {
    border-top: 1px solid #b4b4b4;
    margin-top: 15px;
    margin-bottom: 0;
}