<div class = "container">
    <footer class = "footer">
        <small> This is a project created by Guilherme Ferreira, made during <a href="https://www.udemy.com">'The Complete Ruby On Rails Developer'</a> </small>

        <nav>
            <ul>
                <li> <%= link_to "About", about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>